<h1>See below for birthday cake examples! Nom Nom!</h1>
<a href="{{ url_for('home_page')}}">To return to homepage to see when someone else turns 100, click here!</a>
<br>
<br>
<style type="text/css">
	
	img {
		display: block;
		margin: 0 auto;
	}
	
</style>

<img src="static/bday1.jpg" alt="bday1">
<br>
<img src="static/bday2.jpg" alt="bday2" width="600" height="600">
<br>
<img src="static/bday3.jpg" alt="bday3">
<br>
<img src="static/bday4.jpg" alt="bday4">
<br>
<img src="static/bday5.jpg" alt="bday5">
<br>
<img src="static/bday6.jpg" alt="bday6" width="600" height="600">

